@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 1%;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}



.bigContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 1%;
}

button {
  padding: 1%;
}

.title {
  display: flex;

  text-align: center;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  gap: 5%;
}

a {
  color: grey;
  text-decoration: none;
  font-size: smaller;
}

.header {
  display: flex;
  margin-bottom: auto;
  width: 100%;
}

.footer {
  display: flex;
  margin-top: auto;
  width: 100%;
  background-color: #eeeeee;
  height: 5%;
}

.left-links {
margin-right: auto;
margin-top: 1%;
margin-bottom: 1%;
gap: 10%;
}

.right-links {
  margin-top: 1%;
  margin-bottom: 1%;
  gap: 10%;
}